<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Globale Erwärmung</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Globale Erwärmung</h1>
      <p>Was können wir dagegen tun?</p>
    </div>
  </header>
  <main>
    <div class="globalwarming-content">
      <h2>Was ist globale Erwärmung?</h2>
      <p>Globale Erwärmung ist, wenn die Temperatur auf der Erde langsam steigt. Es ist nicht nur Hitze im Sommer, sondern eine langfristige Veränderung des Klimas. Die Hauptursache dafür ist menschliche Aktivität: Wir verbrennen Öl, Gas und Kohle, und dabei werden Treibhausgase freigesetzt, die wie eine Decke Wärme zurückhalten. Deshalb verändert sich das Wetter, das Eis schmilzt und der Meeresspiegel steigt.</p>
      
      <h2>Wie ernst ist dieses Problem und betrifft es uns?</h2>
      <p>Es ist nichts Abstraktes oder etwas aus der Zukunft – die globale Erwärmung betrifft uns bereits. Im Sommer wird es heißer und im Winter gibt es seltsame Temperaturschwankungen. Immer häufiger treten Hurrikane, Überschwemmungen und Brände auf. Wenn nichts unternommen wird, wird es nur noch schlimmer. Dieses Problem betrifft alle Menschen auf der Erde.</p>
      
      <h2>Was verursacht die globale Erwärmung?</h2>
      <p>Industrielle Anlagen wie Autos, Fabriken und Kraftwerke verbrennen Brennstoffe, was zu einer großen Menge CO₂-Emissionen führt. Abholzung verringert die Anzahl der Bäume, die CO₂ aufnehmen können. Die Viehzucht, wie zum Beispiel die Zucht von Kühen, trägt ebenfalls zur Freisetzung von Methan bei, das ein Treibhausgas ist. Mülldeponien und Abfälle stellen ebenfalls ein ernstes Problem dar, insbesondere organische Abfälle, die Methan freisetzen. Kurz gesagt, fast alle unsere täglichen Handlungen, von Autofahrten bis zum Einkauf, haben Einfluss auf das Klima.</p>

      <h2>Wie können wir die globale Erwärmung eindämmen?</h2>
      <p>Es gibt vieles, was getan werden kann, und jeder Schritt spielt eine wichtige Rolle:
        Das Fahrrad oder den Fußweg statt des Autos zu wählen, reduziert die Emissionen erheblich. Man kann auch Strom sparen, indem man energieeffiziente Geräte verwendet. Weniger Fleisch zu essen, besonders Rindfleisch, da die Fleischproduktion viele CO₂-Emissionen in die Atmosphäre freisetzt. Abfälle zu trennen und zu recyceln sowie weniger unnötige Dinge zu kaufen. Ökologische Technologien zu unterstützen und öffentliche Verkehrsmittel zu nutzen.</p>
      
      <div class="calculator-link">
        <a href="{{ url_for('calculator') }}" class="main__link">Berechnen Sie, wie viel CO₂ Sie jährlich erzeugen.</a>
      </div>
    </div>
  </main>
  <footer>

  </footer>
</body>
</html>